- name: git fetch workspace {{ git_local_repo_directory_path }} remote {{ git_remote_name }}
  command:
    cmd: git fetch --atomic --porcelain --verbose {{ git_remote_name }}
    chdir: "{{ git_local_repo_directory_path }}"
  register: _git_fetch_remote_result
  changed_when: _git_fetched_remote_refs_data_change_detected_bool
