- assert:
    that:
      - managed_ansible_vault_user_secret_path is defined
      - managed_ansible_vault_password is defined

- file:
    path: "{{ managed_ansible_vault_user_secret_path }}"
  no_log: true

- import_role:
    name: kfile.plaintext.read
  vars:
    file_path: "{{ managed_ansible_vault_user_secret_path }}"
  no_log: true

- set_fact:
    "{{ managed_ansible_vault_user_secret_name }}": "{{ _detected_filesystem_file_content|unvault(managed_ansible_vault_password) }}"
  no_log: true