[Desktop Entry]
Type={{ desktop_entry_type }}
Name={{ desktop_entry_name }}
{% if desktop_entry_comment is defined %}
Comment={{ desktop_entry_comment }}
{% endif %}
{% if desktop_entry_icon is defined %}
Icon={{ desktop_entry_icon }}
{% endif %}
{% if desktop_entry_tryexec is defined %}
TryExec={{ desktop_entry_tryexec }}
{% endif %}
{% if desktop_entry_exec is defined %}
Exec={{ desktop_entry_exec }}
{% endif %}
{% if desktop_entry_categories is defined %}
Categories={{ desktop_entry_categories }}
{% endif %}
{% if desktop_entry_startupnotify is defined %}
StartupNotify={{ desktop_entry_startupnotify | lower }}
{% endif %}
{% if desktop_entry_keywords is defined %}
Keywords={{ desktop_entry_keywords }}
{% endif %}
{% if desktop_entry_mimetype is defined %}
MimeType={{ desktop_entry_mimetype }}
{% endif %}
{% if desktop_entry_terminal is defined %}
Terminal={{ desktop_entry_terminal | lower }}
{% endif %}
{% if desktop_entry_startup_wm_class is defined %}
StartupWMClass={{ desktop_entry_startup_wm_class }}
{% endif %}
{% if desktop_entry_x_appimage_version is defined %}
X-AppImage-Version={{ desktop_entry_x_appimage_version }}
{% endif %}