- name: List commits on {{ git_workspace_branch_name }} but not in upstream
  command:
    cmd: git rev-list @{upstream}..{{ git_workspace_branch_name }}
    chdir: "{{ git_local_repo_directory_path }}"
  register: _git_rev_list_upstream_branch_result
  changed_when: false
