- name: git fetch workspace {{ git_local_repo_directory_path }} all remotes
  command:
    cmd: git fetch --porcelain --verbose --all
    chdir: "{{ git_local_repo_directory_path }}"
  register: _git_fetch_all_remotes_result
  changed_when: _git_fetched_all_remotes_refs_data_change_detected_bool
