{%- set submodule_list = [] -%}
{%- for line in _git_submodules_status_result.stdout_lines -%}
    {%- set parts = line.split() -%}
    {%- set commit = parts[0] -%}
    {%- set path = parts[1] -%}
    {%- set branchcrud = parts[2] -%}
    {% set _ = submodule_list.append({
        'commit': commit,
        'path': path,
        'branchcrud': branchcrud
    }) %}
{%- endfor -%}
{{ submodule_list }}