- name: Direct fetching file from {{ file_path }} on host to {{ controller_filesystem_file_path }} on ansible controller
  fetch:
    src: "{{ file_path }}"
    dest: "{{ controller_filesystem_file_path }}"
    flat: true