
- name: git workspace {{ git_local_repo_directory_path }} add submodule {{ git_workspace_submodule_relative_path }} from {{ git_repo_remote_full_url }}
  command:
    cmd: git submodule add {{ git_repo_remote_full_url }} {{ git_workspace_submodule_relative_path }}
    chdir: "{{ git_local_repo_directory_path }}"
