

- name: git workspace {{ git_local_repo_directory_path }} submodule {{ git_workspace_submodule_relative_path }} set-branch {{ git_workspace_submodule_branch_name }}
  command:
    cmd: git submodule set-branch --branch {{ git_workspace_submodule_branch_name }} {{ git_workspace_submodule_relative_path }}
    chdir: "{{ git_local_repo_directory_path }}"
