- hosts: localhost
  vars:
    git_local_repo_directory_path: "{{ playbook_dir | dirname | dirname }}"
  roles:
    - name: kgit.workspace_meta.added_committed_pulled_rebased
    - name: kgit.workspace_meta.added_committed_pushed
