{% macro extract_nodes(nodes) -%}
    {%- for node in nodes -%}
        {%- if node.window_properties is defined and node.window_properties.class == window_properties_class -%}
            - {{ node | to_nice_yaml | indent(2) }}
        {%- endif -%}
        {%- if node.nodes is defined and node.nodes | length > 0 -%}
            {{ extract_nodes(node.nodes) }}
        {%- endif -%}
    {%- endfor -%}
{%- endmacro %}

{{ extract_nodes(_i3_tree.nodes) }}
