- name: set upstream for git workspace {{ git_local_repo_directory_path }} local branch {{ git_workspace_branch_name }} to remote ref {{ git_remote_branch_ref }}
  command:
    cmd: git branch --set-upstream-to={{ git_remote_branch_ref }} {{ git_workspace_branch_name }}
    chdir: "{{ git_local_repo_directory_path }}"