- name: Initialize and fetch git submodule content in parent git workspace at {{ git_local_repo_directory_path }}
  command:
    cmd: git submodule update --init --recursive
    chdir: "{{ git_local_repo_directory_path }}"