- name: Check for git stash in {{ git_local_repo_directory_path }}
  command:
    cmd: git stash list
    chdir: "{{ git_local_repo_directory_path }}"
  register: _git_workspace_stash_result
  changed_when: false