- import_role:
      name: josh.filesystem.directory_exists
  vars:
      directory_path: "{{ file_path | dirname }}"

- import_role:
    name: korbad.filesystem.path
    tasks_from: stat.yml
  vars:
      filesystem_path: "{{ file_path }}"

- file:
      state: touch
      path: "{{ file_path }}"
  when: not _filesystem_entry_exists