- command:
    cmd: git cherry -v
    chdir: "{{ git_local_repo_directory_path }}"
  register: _git_cherry_info_local_commits_missing_from_remote_remote
  changed_when: false

- debug:
    var: _git_cherry_info_local_commits_missing_from_remote_remote