- file:
    state: directory
    path: "{{ file_path | dirname }}"

- name: Ensure file {{ file_path }} exists from url
  ansible.builtin.get_url:
    url: "{{ filesystem_file_src_url }}"
    dest: "{{ file_path }}"
    checksum: "{{ filesystem_file_checksum | default(omit) }}"
